<div layout="column" class="md-inline-form">
    <md-content layout-gt-sm="column" layout-padding>
        <div class="inputMovie">
            <form ng-submit="search()" layout="column" layout-align="center center" layout-wrap>
                <md-input-container>
                    <label>Enter Movie Title</label>
                    <input ng-model="movies.title">
                </md-input-container>
                <md-button ng-href="/{{ movies.title }}" type="submit" md-no-ink class="md-primary">Search</md-button>
            </form>
        </div>
    </md-content>
</div>
