<div  ng-repeat="tea in view.teaList" ng-cloak="" class="gridListdemoBasicUsage">
    <md-grid-list layout="row" layout-sm="column" md-cols-xs="6" md-cols-sm="6" md-cols-md="12" md-cols-gt-md="12" md-row-height-gt-md="6:6" md-row-height="6:6" md-gutter="12px" md-gutter-gt-sm="8px">
        <md-grid-tile class="blue" md-rowspan="3" md-colspan="3" md-colspan-sm="1" md-colspan-xs="1">
            <img ng-src="{{ tea.imageUrl }}" alt="" />
        </md-grid-tile>
        <md-grid-tile class="red" md-rowspan="3" md-colspan="6" md-colspan-sm="1" md-colspan-xs="1">
            <div flex layout="column">
                <h2>{{ tea.name }}</h2>
                <h4>{{ tea.price }}</h4>
                <h4>{{ tea.ingredients }}</h4>
                <h4>{{ tea.rating }}</h4>
                <h4>{{ tea.inStock }}</h4>
                <h4>{{ tea.categories }}</h4>
            </div>
        </md-grid-tile>

        <md-grid-tile class="green" md-colspan="3">

        </md-grid-tile>

        <md-grid-tile class="yellow" md-colspan="3" md-rowspan="2">

        </md-grid-tile>
    </md-grid-list>
</div>
